body{
  background:#0a0a0a;
  color:white;
  font-family:Arial, sans-serif;
  margin:0;
  padding:0;
}

header, nav, section{
  text-align:center;
  padding:30px;
}

nav a, .hero a, .contacts a{
  color:white;
  margin:10px;
}

.product-card{
  background:#111;
  border:1px solid #333;
  padding:20px;
  margin:20px;
  border-radius:15px;
}

.product-card img{
  max-width:300px;
  width:100%;
}